hr:not([size]) {
  height: 1px;
  width: 650px;
  color: #000000;
}

img, svg {
}

.spacer {
  margin-left: 5%;
  margin-right: 5%;
}

.hr2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 800px!important;
}

.rounded-circle {
  border-radius: 0%!important;
}

@media (min-width:992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 25%;
  }
}

p {
}

